@{
    ViewData["name"] = "多文件表单上传";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form enctype="multipart/form-data" class="form-multi">
    <input type="file" name="formFiles" class="file-multi" multiple>
    <button type="button" class="btn-submit">多文件表单上传</button>
</form>
<script>
    window.onload = function () {
        let btnSubmit = document.querySelector('.btn-submit')
        btnSubmit.addEventListener('click', () => {
            UploadAsync()
        })
    }
    async function UploadAsync() {
        form = document.querySelector('.form-multi')
        const formData = new FormData(form)
        fetch('/Upload/multiForm', { method: 'post', body: formData })
            .then(res => {
                console.log(res)
            })
    }
</script>