<a href="One">单文件上传</a>|
<a href="OneForm">单文件表单上传</a>|
<a href="Multi">多文件上传</a>|
<a href="MultiForm">多文件表单上传</a>|
<a href="Model">Model组合上传</a>|
<a href="ModelForm">Model表单组合上传</a>|
<a href="chunk">chunk大文件分片上传</a>
<a href="/home">文件下载</a>


<h4>@ViewData["name"]</h4>
@RenderBody()
<style>
    a {
        text-decoration: none;
        margin: 5px;
    }
</style>